body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
}

.navbar-brand {
    font-size: 1.8rem;
}

.carousel-img {
    height: 80vh;
    object-fit: cover;
}

.card img {
    object-fit: cover;
    height: 200px;
}

.btn-outline-danger {
    transition: all 0.3s;
}

.btn-outline-danger:hover {
    background-color: #ff4d4f;
    color: white;
}
